@import '../../assets/css/config';

$row: 20;
$column: 10;

.app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: darken($primary-bg-color, 5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 270px;
}

// .gridBoard {
//   display: grid;
//   grid-gap: 2px;
//   grid-template-columns: repeat($column, 25px);
//   grid-template-rows: repeat($row, 25px);
//   grid-auto-flow: column;
// }
